export const testGuilds = [
	{ name: 'SERVER_NAME_1', id: 'SERVER_ID_1' },
	{ name: 'SERVER_NAME_2', id: 'SERVER_ID_2' },
];

export const PRV_ROLES = {
	'SERVER_ID': {
		Admin: 'ID_OF_ADMIN_ROLE',
	},
};

export const ADMINS = ['ADMIN_ID_1', 'ADMIN_ID_2'];